<div class="page-header">
  <div class="page-title">
    <h4>Member List</h4>
    <h6>Manage your Member</h6>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table matSort matSortActive="Sno" matSortDirection="asc" matSortDisableClear class="table datanew">
        <thead>
        <tr>
          <th mat-sort-header="CustomerName">Member Name</th>
          <th mat-sort-header="mobileNumOne">Contact Number</th>
          <th mat-sort-header="gender">Gender</th>
          <th mat-sort-header="height">Height</th>
          <th mat-sort-header="weight">Weight</th>
          <th mat-sort-header="age">Age</th>
          <th mat-sort-header="bmi">BMI</th>
          <th mat-sort-header="address">Address</th>
          <th mat-sort-header="Country">Email</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through tableData to display each member -->
        <tr *ngFor="let member of tableData">
          <td>{{ member.name }}</td>
          <td>{{ member.mobileNum }}</td>
          <td>{{ member.gender ||'N/A' }}</td>
          <td>{{ member.height ||'N/A' }}</td>
          <td>{{ member.weight ||'N/A' }}</td>
          <td>{{ member.age ||'N/A' }}</td>
          <td>{{ member.bmi ||'N/A' }}</td>
          <td>{{ member.address || 'N/A' }}</td>
          <td>{{ member.email }}</td>
          <td>
            <a class="me-3" >
              <img src="../../../../assets/img/icons/edit.svg" alt="Edit" />
            </a>
            <a (click)="deleteButton(member)" class="me-3 confirm-text" href="javascript:void(0);">
              <img src="../../../../assets/img/icons/delete.svg" alt="Delete" />
            </a>
          </td>
        </tr>
        <!-- Display message if there are no records -->
        <tr *ngIf="tableData.length === 0">
          <td colspan="5">
            <h5 class="no-record">No matching records found</h5>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
