<div class="row">

  <div class="col-lg-3 col-sm-6 col-12 d-flex">
    <div class="dash-count">
      <div class="dash-counts">
        <h4>60</h4>
        <h5>Active Members</h5>
      </div>
      <div class="dash-imgs">
        <i-feather name="user"></i-feather>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-12 d-flex">
    <div class="dash-count das1">
      <div class="dash-counts">
        <h4>3</h4>
        <h5>Active Trainers</h5>
      </div>
      <div class="dash-imgs">
        <i-feather name="user-check"></i-feather>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-12 d-flex">
    <div class="dash-count das2">
      <div class="dash-counts">
        <h4>100</h4>
        <h5>Total Exercise</h5>
      </div>
      <div class="dash-imgs">
        <i-feather name="file-text"></i-feather>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-12 d-flex">
    <div class="dash-count das3">
      <div class="dash-counts">
        <h4>6</h4>
        <h5>Total Schedule</h5>
      </div>
      <div class="dash-imgs">
        <i-feather name="file"></i-feather>
      </div>
    </div>
  </div>
</div>

<div class="chart-container">
  <h4>Age wise Member count</h4>
  <canvas baseChart
          [data]="dotChartData"
          [options]="dotChartOptions"
          chartType="scatter">
  </canvas>
</div>

