<div class="page-header">
  <div class="page-title">
    <h4>Commission process</h4>
    <h6>Commission process</h6>
  </div>
</div>
<div class="row">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="commissionGetForm" (ngSubmit)="getUnprocessedCommissions()">
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="form-group"
                 [class.has-error]="commissionGetForm.get('role')?.invalid && (commissionGetForm.get('role')?.dirty || commissionGetForm.get('role')?.touched)">
              <label class="required"
                     [class.error-label]="commissionGetForm.get('role')?.invalid && (commissionGetForm.get('role')?.dirty || commissionGetForm.get('role')?.touched)">Choose
                Role</label>
              <select class="form-control" (change)="onRoleChange($event)" formControlName="role" required
                      [class.is-invalid]="commissionGetForm.get('role')?.invalid && (commissionGetForm.get('role')?.dirty || commissionGetForm.get('role')?.touched)">
                <option [value]="'marketing'">Marketing</option>
                <option [value]="'doctor'">Doctor</option>
                <option [value]="'rider'">Rider</option>
              </select>
            </div>
          </div>
          <!--          <div class="col-lg-3 col-sm-6 col-12">-->
          <!--            <div class="form-group">-->
          <!--              <label class="required" >Choose Role</label>-->
          <!--              <select class="form-control" >-->
          <!--                <option *ngFor="let supplier of userRoleList"-->
          <!--                        [value]="supplier.ingredientsSupplierID">{{supplier.supplierName}}</option>-->
          <!--              </select>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          <div class="col-lg-3 col-sm-6 col-12">-->
          <!--            <div class="form-group">-->
          <!--              <label>From Date</label>-->
          <!--              <div class="input-groupicon">-->
          <!--                <ngx-datepicker></ngx-datepicker>-->
          <!--                <a class="addonset">-->
          <!--                  <img src="assets/img/icons/calendars.svg" alt="img"/>-->
          <!--                </a>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          <div class="col-lg-3 col-sm-6 col-12">-->
          <!--            <div class="form-group">-->
          <!--              <label>To Date</label>-->
          <!--              <div class="input-groupicon">-->
          <!--                <ngx-datepicker></ngx-datepicker>-->
          <!--                <a class="addonset">-->
          <!--                  <img src="assets/img/icons/calendars.svg" alt="img"/>-->
          <!--                </a>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="form-group"
                 [class.has-error]="commissionGetForm.get('user')?.invalid && (commissionGetForm.get('user')?.dirty || commissionGetForm.get('user')?.touched)">
              <label class="required"
                     [class.error-label]="commissionGetForm.get('user')?.invalid && (commissionGetForm.get('user')?.dirty || commissionGetForm.get('user')?.touched)">Choose
                User</label>
              <select (change)="onUserChange($event)" class="form-control" formControlName="user" required
                      [class.is-invalid]="commissionGetForm.get('user')?.invalid && (commissionGetForm.get('user')?.dirty || commissionGetForm.get('user')?.touched)">
                <option *ngFor="let user of userList"
                        [value]="user.userCode">{{user.username}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-12 mt-4">
            <button type="submit" class="btn btn-submit me-2">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table mb-0" *ngIf="isRider">
          <thead>
          <tr>
            <th>Order Code</th>
            <th>Delivery Fee</th>
            <th>Order Type</th>
            <th>Comment</th>
            <th>Action
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox">
              </div>
            </th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor=" let commission of processableCommissions" [attr.data-product-code]="commission.orderCode">
            <td>{{commission.orderCode}}</td>
            <td>{{commission.deliveryFee}}</td>
            <td>{{commission.orderType}}</td>
            <td>{{commission.comment}}</td>
            <td>
              <div class="form-check form-switch">
                <input class="form-check-input" (change)="toggleSelection($event, commission)" type="checkbox">
              </div>
            </td>
          </tr>

          </tbody>
        </table>

        <table class="table mb-0" *ngIf="!isRider">
          <thead>
          <tr>
            <th>Order Detail ID</th>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Cost Price</th>
            <th>Selling Price</th>
            <th>qty</th>
            <th>User Commission</th>
            <th>Total Commission</th>
            <th>Order Date</th>
            <th>Order Status</th>
            <th>Action
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox">
              </div>
            </th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor=" let commission of processableCommissions" [attr.data-product-code]="commission.productCode">

            <td>{{commission.orderDetailID}}</td>
            <td>{{commission.productCode}}</td>
            <td>{{commission.productName}}</td>
            <td>{{commission.unitCostPrice}}</td>
            <td>{{commission.unitSellingPrice}}</td>
            <td>{{commission.qty}}</td>
            <td>{{commission.userCommission}}</td>
            <td>{{commission.totalCommission}}</td>
            <td>{{commission.createDateTime}}</td>
            <td>{{commission.orderStatus}}</td>
            <td>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" (change)="toggleSelection($event, commission)">
              </div>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-clear me-2" (click)="submitSelectedRows()">Process</button>
    <button type="submit" class="btn btn-cancel me-2">Cancel</button>
  </div>
</div>
