<div class="page-header">
  <div class="page-title">
    <h4>View Exercise</h4>
    <h6>Exercise And Videos</h6>
  </div>
</div>

<div class="row">
  <!-- Left side (Schedule and Exercises Table) -->
  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-lg-4 col-sm-6 col-12">
              <div class="form-group">
                <label>Schedule</label>
                <mat-select class="select" [(ngModel)]="selectedDate" (selectionChange)="getExerciseList(selectedDate)">
                  <mat-option *ngFor="let date of scheduleDates" [value]="date">{{date | date: 'yyyy-MM-dd'}}</mat-option> <!-- Display formatted dates -->
                </mat-select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="table-responsive">
              <table class="table mb-0">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Exercise Name</th>
                  <th>Sets</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <!-- Iterate through the exercises array and display the data -->
                <tr *ngFor="let exercise of exercises; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ exercise.exerciseDetails.exercise.exerciseName }}</td>
                  <td>{{ exercise.exerciseDetails.sets }}</td>
                  <td>
                    <a type="button" class="btn-edit-table" style="border-radius: 10px;" (click)="playVideo(exercise.exerciseDetails.exercise.video_url)">View</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Right side (Video display) -->
  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <div class="video-container" *ngIf="videoUrl">
      <iframe [src]="videoUrl " width="560" height="315" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
