<div class="page-header">
  <div class="page-title">
    <h4>View Exercise</h4>
    <h6>Exercise And Videos</h6>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-lg-4 col-sm-6 col-12">
              <div class="form-group">
                <label >Schedule</label>
                <mat-select class="select" >
                  <mat-option >test Schedule 01</mat-option>
                </mat-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="table-responsive">
              <!--            <label style="color: #c92d2d; font-size: 15px;">Selected User Have No Privileges Yet</label>-->
              <table class="table mb-0">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Exercise Name</th>
                  <th>Sets</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>

                <tr >
                  <td>1</td>
                  <td>test Exercise Name</td>
                  <td>12/2,22/4</td>
                  <td>
                    <a type="button" class="btn-edit-table" style="border-radius: 10px;"> View</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/tOWfExv_hIw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

</div>
