<div class="page-header">
  <div class="page-title">
    <h4>Product Add</h4>
    <h6>Create new product</h6>
  </div>
</div>
<!-- /add -->
<div class="card">
  <div class="card-body">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit(1)">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="form-group">
            <label>Product Name</label>
            <input type="text" formControlName="productName">
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="form-group">
            <label>Category <a class="btn btn-add" [routerLink]="routes.category"></a></label>
            <mat-select class="select" placeholder="Choose Category"
                        (selectionChange)="getAllActiveSubCategoryListByCategoryID($event.value)">
              <mat-option *ngFor="let data of categoryList" [value]="data">
                {{data.categoryName}}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="form-group">
            <label>Sub Category <a class="btn btn-add" [routerLink]="routes.category"></a></label>
            <mat-select formControlName="subCategoryID" class="select"
                        placeholder="Choose Sub Category" (selectionChange)="onSubCategorySelected($event.value)">
              <mat-option *ngFor="let data of subCategoryList" [value]="data">
                {{data.subCategoryName}}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="form-group">
            <label>Brand</label>
            <input type="text" formControlName="brandName">
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="form-group">
            <label>Cost Price</label>
            <input type="number" formControlName="costPrice" class="form-control">
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="form-group">
            <label>Selling Price</label>
            <input type="number" formControlName="sellingPrice" class="form-control">
            <label style="color: #c92d2d; font-size: 12px;" *ngIf="validateSellingPrice"><span>Please Enter Selling Amount</span></label>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="form-group">
            <label>Quantity</label>
            <input type="number" formControlName="productQty" class="form-control">
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="form-group">
            <label>Category Code</label>
            <input type="text" formControlName="categoryCode" [disabled]="true">
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="form-group">
            <label>Supplier</label>
            <mat-select formControlName="productSupplierID" class="select"
                        placeholder="Choose Supplier">
              <mat-option *ngFor="let data of supplierList" [value]="data.productSupplierID">
                {{data.supplierName}}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div class="col-lg-9 col-sm-6 col-12">
          <div class="form-group">
            <label>Description</label>
            <input type="text" formControlName="description">
          </div>
        </div>

        <form [formGroup]="userForm" (ngSubmit)="onSubmit(2)">
          <div class="row border border-1 p-2 mb-3">
            <h3>Add Commission</h3><br>
            <div class="col-lg-3 col-sm-6 col-12">
              <div class="form-group">
                <label>User role</label>
                <mat-select class="select" formControlName="commissionRole"
                            placeholder="Choose User Role" (selectionChange)="selectCommissionRole($event.value)">
                  <mat-option value='doctor'>
                    ROLE_DOCTOR
                  </mat-option>
                  <mat-option value='marketing'>
                    ROLE_MARKETING
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
              <div class="form-group">
                <label>User name </label>
                <mat-select class="select" formControlName="commissionBy"
                            placeholder="Choose User">
                  <mat-option *ngFor="let data of selectedRoleUsers" [value]="data.userCode">
                    {{data.name}}
                  </mat-option>
                </mat-select>
                <label style="color: #c92d2d; font-size: 12px;" *ngIf="errorLoadingUsers"><span>No Users for Selected Role</span></label>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
              <div class="form-group">
                <label>Commission Rate</label>
                <input type="text" formControlName="commissionRate" (blur)="commissionPriceCalculate()">
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
              <div class="form-group">
                <label>Commission Price</label>
                <input type="text" formControlName="commissionPrice">
              </div>
            </div>
            <button class="btn btn-submit" type="submit" style="width: 100%">Add to Table</button>

            <div class="row mt-2" *ngIf="usersLit.length >0">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered mb-0">
                        <thead>
                        <tr>
                          <th>User ID</th>
                          <th>User name</th>
                          <th>Role</th>
                          <th>Commission rate</th>
                          <th>Commission Price</th>
                          <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let usersList of usersLit; let x=index">
                          <td>{{usersList.commissionBy}}</td>
                          <td>{{usersList.commissionRole}}</td>
                          <td>{{usersList.commissionRole}}</td>
                          <td>{{usersList.commissionRate}}</td>
                          <td>{{usersList.commissionPrice}}</td>
                          <td><a class="btn-delete-table" (click)="deleteTableRow(x)"></a></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="col-lg-12">
          <button type="submit" class="btn btn-submit me-2">Submit</button>
          <a [routerLink]="routes.dashboard" class="btn btn-cancel me-2">Cancel</a>
          <a class="btn btn-clear me-2" (click)="clearForm()">Clear</a>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- /add -->
